.fan-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3b3b3b;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}